#edit-banner{
	.field.identifier{
	    margin-bottom: 40px;
		padding-bottom: 30px;
		border-bottom: 2px solid;
		label{
		    width: 75px;
			line-height: 30px;
		}
	}
	.banner{
	    clear: both;
		overflow: auto;
		margin-top: 30px;
		padding-top: 40px;
		border-top: 1px dashed black;
		.image{
			width:20%;
			float:left;
			position:relative;
			img{
				width:100%;
			}
		}
		.fields{
			width:80%;
			float:left;
			.col{
			    width: 33.3333%;
				float: left;
				padding-left: 30px;
				.self{
					clear:both;
					overflow:auto;
					input{
					    float: left;
						width: 22px;
						min-width: 0px;
						margin: 0px;
						margin-right: 10px;
					}
					.title{
					    line-height: 30px;
					}
				}
				.blank{
					clear:both;
					overflow:auto;	
					input{
					    float: left;
						width: 22px;
						min-width: 0px;
						margin: 0px;
						margin-right: 10px;
					}
					.title{
					    line-height: 30px;
					}
				}
			}
		}
	}
	.banner.first{
		border-top:0px;
		padding-top:0px;
	}
	.banner.last{
	    padding-bottom: 30px;
		border-bottom: 2px solid;
	}
	button{
		margin-top:30px;
		margin-bottom:60px;
	}
	button.add{
	    width: 90px;
	}
	button.remove-btn{
		width: 130px;
	}
}
#banners{
	.add-btn{
	    width: 105px;
	}
}