#cms-pages-content{
	#cms-pages-table{
	    overflow: auto;
		border-right: $colBorderColor;
		border-bottom: $colBorderColor;
		border-radius: 2px;
		.table-header{
			.th{
				@include createTh(5);
			}
		}
		.table-body{
			.tr{
				overflow:auto;
				clear:both;
				.td{
					@include createTd(5);
				}
				.td.remove{
					text-align:center;
					a{
						cursor:pointer;
						text-decoration:none;
						color:#797979;
					}
					a:hover{
						color:black;
						font-weight:bold;
					}
				}
				.td.disabled{
					text-align:center;
					a{
						cursor:not-allowed;
						text-decoration:none;
						color:#cccccc;	
					}
				}
				.td.edit{
					text-align:center;
					a{
						text-decoration:none;
						color:#797979;
					}
					a:hover{
						color:black;
						font-weight:bold;
					}
				}
			}
			.tr:hover{
				background: #dddddd;
			}
		}
	}
	.add-btn{
	    color: #f2f2f2;
		font-size: 13px;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		border: 1px solid #64c3c2;
		padding: 5px 15px;
		background: #68dff0;
		margin-top: 15px;
		width: 90px;
		text-align: center;
		cursor: pointer;
		height: 30px;
		line-height: 20px;
		a{
			color: #f2f2f2;
		}
	}
	.add-btn:hover{
		background: #ffd777;
		border: 1px solid #b6b6b6;
		a{
			color: #b6b6b6;
		}
	}
}
#cms-page-edit{
	.cms-page-form.disabled{
		.slug{
			background: #ebebe4;
			border: 1px solid #a9a9a9;
			cursor:not-allowed;
		}
		.status{
			background: #ebebe4;
			border: 1px solid #a9a9a9;
			cursor:not-allowed;
		}
	}
	button.remove-btn{
	    width: 115px;
	}
}