#inquiry-page{
	.field{
		label{
			width: 125px;
			font-size: 14px;
		}
		.text{
			background: #dddddd;
			float: left;
			padding-left: 7px;
			padding-right: 7px;
			border-radius: 5px;
		}
	}
	.field.message{
		.message-container{
		    width: 70%;
			margin: auto;
			margin-top: 55px;
		    background: #dddddd;
			border-radius: 4px;
		    clear: both;
			.subject{
			    font-size: 18px;
				font-weight: bold;
				margin-bottom: 15px;
			}
			.content{
			    font-size: 16px;
			}
		}
	}
	.remove-btn{
		width:130px;
	}
}