#editor-images-folder{
	.file{
		float:left; 
		width:44px;
		min-height: 68px;
		cursor:pointer;
		padding-left: 3px;
		padding-right: 3px;
		margin-top: 3px;
		margin-bottom: 3px;
		.file-image{
		    height: 38px;
			margin-top: 3px;
			width:38px;
		}
		.file-name{
			width:100%;
			word-wrap: break-word;
		}
	}
	.folder-thumbnail{
		margin-right: 2px;
		margin-left: 2px;
		float:left;
		cursor:pointer;
		width:50px;
		.folder-image{
			width:100%;
		}
		.folder-name{
			width:100%;
			text-align:center;
			font-weight:bold;
		}
	}
	.folder{
		display:none;
		.back-folder{
			margin-right: 2px;
			margin-left: 2px;
			float:left;
			cursor:pointer;
			width:50px;
			.folder-image{
				width:100%;
			}
			.folder-name{
				width:100%;
				text-align:center;
				font-weight:bold;
				font-size: 32px;
				height: 10px;
				line-height: 0px;
				margin-bottom: 10px;
			}
		}
		.inner-file{
			float:left; 
			width:44px;
			min-height: 68px;
			cursor:pointer;
			padding-left: 3px;
			padding-right: 3px;
			margin-top: 3px;
			margin-bottom: 3px;
			.file-image{
				 height: 38px; 
				margin-top: 3px;
				width:38px;
			}
			.file-name{
				width:100%;
				word-wrap: break-word;
			}
		}
	}
}
table.cke_dialog_contents table tr td .cke_dialog_ui_file{
	min-height:100px;
	iframe{
		min-height:145px;
	}
}
.cke_dialog_ui_fileButton.cke_dialog_ui_button.cke_disabled{
	display:none;
}

.upload-message{
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8; 
    border-color: #d6e9c6;
} 
#upload-form{
	.upload-submit-btn{
		margin: 0;
		border: 0;
		text-decoration: none;
		width: auto;
		height: auto;
		box-sizing: content-box;
		position: static;
		transition: none;
		border-collapse: collapse;
		font: normal normal normal 12px Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
		white-space: nowrap;
		float: none;
		text-shadow: 0 1px 0 #fff;
		border-color: #9e9e9e;
		display: inline-block;
		text-align: center;
		color: #333;
		vertical-align: middle;
		cursor: pointer;
		border: 1px solid #b6b6b6;
		border-bottom-color: #999;
		border-radius: 3px;
		box-shadow: 0 1px 0 rgba(255,255,255,.5),0 0 2px rgba(255,255,255,.15) inset,0 1px 0 rgba(255,255,255,.15) inset;
		background: #e4e4e4;
		background-image: linear-gradient(to bottom,#fff,#e4e4e4);
		padding: 4px 0;
		padding-right: 10px;
		padding-left: 10px;
	}
}