$colBorderColor: 1px solid gray;
@mixin createCol($rows) {
	width: percentage(1/$rows);
	float: left;
	border: $colBorderColor;
    border-bottom: 0px;
    border-right: 0px;
	min-height:29px;
	word-wrap: break-word;
    overflow: hidden;
}

@mixin createTh($rows) {
	@include createCol($rows);
	color: black;
	font-weight: bold;
	padding: 5px;
	text-align:center;
	background:#aaaaaa;
}

@mixin createTd($rows) {
	@include createCol($rows);
	padding: 5px;
}


/* Fields */
input,select,button{
	outline:0 !important;
}
.field{
    margin-bottom: 10px;
    clear: both;
    overflow: auto;
	label{
	    width: 200px;
		display: block;
		float: left;
		font-weight: bold;
		line-height: 30px;
	}
	input, select{
		float:left;
		min-width: 230px;
		height: 30px;
		padding: 4px;
	}
	input.checkbox{
	    min-width: 0px;
		width: 20px;
		margin: 0px;
		margin-top: -1px;
	}
	textarea{
		min-width: 230px;
		padding: 4px;
		float:left;
	}
	.comment{
 		clear:both;
		margin-bottom: 15px;
		font-size: 12px;
		font-weight: bold;
		color: #555555;
		background: #ccc;
		display: inline-block;
		clear: both;
		float: left;
		padding: 7px;
		border-radius: 3px;
		margin-top: 7px;
		width:430px;
		b{
			font-weight:bolder;
			text-decoration: underline;
		}
		.sub{
			margin-top:10px;
		}
	}
	.hasDatepicker{
		clear:both;
	}
	.text{
		line-height:30px;
	}
	code{
	    line-height: 22px;
		background: #ccc;
		color: black;
		padding: 7px;
		display: block;
		clear: both;
	}
	#datepicker-from, #datepicker-till{
		clear:none;
	}
}
.field.disabled{
	input, select{
		background: #ebebe4;
		border: 1px solid #a9a9a9;
		cursor:not-allowed;
	}
}
.field.wide{
	input, select{
		width: 500px;
	}
	textarea{
		min-width: 500px;
		min-height:110px;
		padding: 4px;
		float:left;
	}
}

.add-btn, button{
	color: #f2f2f2 !important;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #64c3c2;
	padding: 5px 15px;
	background: #68dff0;
	margin-top: 15px;
	width: 85px;
	text-align: center;
	cursor: pointer;
	height: 30px;
	line-height: 20px;
	text-transform:capitalize;
	font-size:13px;
	a{
		color: #f2f2f2;
	}
}
.add-btn{
	width:110px;
}
button:hover{
	background: #ffd777;
	border: 1px solid #b6b6b6;
	color: #b6b6b6 !important;
}
.add-btn:hover{
	background: #ffd777;
	border: 1px solid #b6b6b6;
	color: #b6b6b6 !important;
}
#cke_page_content{
	clear:both;
}
#cke_content{
	clear:both;
}
.remove-btn{
	min-width: 120px;
}

/* Table style. */
.table{
	overflow: auto;
	border-right: $colBorderColor;
	border-bottom: $colBorderColor;
	border-radius: 2px;
	.table-header{
		.th{
			@include createTh(5);
		}
	}
	.table-body{
		.tr{
			overflow:auto;
			clear:both;
			.td{
				@include createTd(5);
			}
			.td.remove{
				text-align:center;
				a{
					cursor:pointer;
					text-decoration:none;
					color:#797979;
				}
				a:hover{
					color:black;
					font-weight:bold;
				}
			}
			.td.edit{
				text-align:center;
				a{
					text-decoration:none;
					color:#797979;
				}
				a:hover{
					color:black;
					font-weight:bold;
				}
			}
			.td.disabled{
				text-align:center;
				a{
					cursor:not-allowed;
					text-decoration:none;
					color:#cccccc;	
				}
			}
		}
		.tr:hover{
			background: #dddddd;
		}
	}
}
.table.col-3{
	.table-header{
		.th{
			@include createTh(3);
		}
	}
	.table-body{
		.tr{
			.td{
				@include createTd(3);
			}
		}
	}
}
.table.col-4{
	.table-header{
		.th{
			@include createTh(4);
		}
	}
	.table-body{
		.tr{
			.td{
				@include createTd(4);
			}
		}
	}
}
.table.col-5{
	.table-header{
		.th{
			@include createTh(5);
		}
	}
	.table-body{
		.tr{
			.td{
				@include createTd(5);
			}
		}
	}
}
.table.col-6{
	.table-header{
		.th{
			@include createTh(6); 
		}
	}
	.table-body{
		.tr{
			.td{
				@include createTd(6);
			}
		}
	}
}
.table.col-7{
	.table-header{
		.th{
			@include createTh(7); 
		}
	}
	.table-body{
		.tr{
			.td{
				@include createTd(7);
			}
		}
	}
}
.table.col-8{
	.table-header{
		.th{
			@include createTh(8); 
		}
	}
	.table-body{
		.tr{
			.td{
				@include createTd(8);
			}
		}
	}
}
.table.col-9{
	.table-header{
		.th{
			@include createTh(9); 
		}
	}
	.table-body{
		.tr{
			.td{
				@include createTd(9);
			}
		}
	}
}
.table.col-10{
	.table-header{
		.th{
			@include createTh(10); 
		}
	}
	.table-body{
		.tr{
			.td{
				@include createTd(10);
			}
		}
	}
}
.table.col-11{
	.table-header{
		.th{
			@include createTh(11); 
		}
	}
	.table-body{
		.tr{
			.td{
				@include createTd(11);
			}
		}
	}
}
.message-container{
	padding:13px;
	margin-top: 15px;
}
.message-container.success{
	background-color: rgb(147, 216, 147);
}
.message-container.notice{
	background-color: #D4D4FF;
}
.message-container.error{
	background-color: #FB6F6F;
}
.alert ul{
	padding:0px;
}
.field {
	input.disabled{
		background: #ebebe4;
		border: 1px solid #a9a9a9;
		cursor:not-allowed;
	} 
	select.disabled{
		background: #ebebe4;
		border: 1px solid #a9a9a9;
		cursor:not-allowed;
	} 
}

/* Banners */

.banner{
	clear: both;
	overflow: auto;
	margin-top: 30px;
	padding-top: 40px;
	border-top: 1px dashed black;
	.image{
		width:20%;
		float:left;
		position:relative;
		img{
			width:100%;
		}
	}
	.fields{
		width:80%;
		float:left;
		.col{
			width: 33.3333%;
			float: left;
			padding-left: 30px;
			.self{
				clear:both;
				overflow:auto;
				input{
					float: left;
					width: 22px;
					min-width: 0px;
					margin: 0px;
					margin-right: 10px;
				}
				.title{
					line-height: 30px;
				}
			}
			.blank{
				clear:both;
				overflow:auto;	
				input{
					float: left;
					width: 22px;
					min-width: 0px;
					margin: 0px;
					margin-right: 10px;
				}
				.title{
					line-height: 30px;
				}
			}
		}
	}
}
.banner.first{
	border-top:0px;
	padding-top:0px;
}
.banner.last{
	padding-bottom: 30px;
	border-bottom: 2px solid;
}

// Footer
footer .go-top{
	cursor:pointer;
}

// Sidebar
#sidebar{
	#nav-accordion{
		p.centered{
			margin-bottom:0px;
			a{
				svg{
					width:50px !important;
					height:50px !important;
					path{
					    fill: #ffd777 !important;
					}
				}
			}
		}
		h5.centered{
		    margin-top: 3px;
		}
	}
}

.pagination{
	width:100%;
	text-align:center; 
	.cubes{
		margin:0px;
		position:static;
		height:auto;
		overflow:auto;
		display: inline-block;
		width:auto;
		border-top: 3px solid #ccc;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-right: 20px;
		padding-left: 30px;
		.page-number{
			color: #f2f2f2;
			font-size: 12px;
			-webkit-border-radius: 4px;
			padding: 5px 15px;
			text-align: center;
			cursor: pointer;
			height: 30px;
			line-height: 20px;
			text-transform:capitalize;
			font-size:13px;
			float:left;
			margin-right:10px;
			/* border-radius: 4px; */
			border-radius:0px;
			border: 1px solid #aaaaaa;
			background: #424a5d;
		}
		.page-number:hover{
			background: #333333;
			color:white !important;
		}
		.page-number.current{
			background: #333333;
			color:white !important;
		}
	}
}

.nav.notify-row{
	ul.dropdown-menu{
		li.notification{
		    border-bottom: 1px solid #EBEBEB !important;
			> a{
				padding-bottom: 7px !important;
				border-bottom: 0px !important;
			}
			> a:hover{ 
				background-color: transparent;
				color: #333;
			}
			.photo{
				width:40px;
				float:left;
			}
			.notification-content{
				white-space: normal;
				word-wrap: break-word;
			    -webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding-left: 7px;
			    width: 175px;
				float:left;
				.row{
					margin:0px;
					white-space:normal; 
				} 
			}
		}
		li.notification:hover{
			background-color: #F7F8F9 !important;
			color: #2E2E2E;
		}
		li.notification.new{
			background-color: #F7F8F9;
			color: #2E2E2E;
		}
	}
	.dropdown.requests, .dropdown.orders{
		li.notification{
			.message{
				.row.first{
					margin-bottom:3px;
				}
				.row.second{
					font-weight:bold;
					text-decoration: underline;
				}
			}
		}
	}
	.dropdown.contacts{
		.photo{
			i{
				font-size: 30px;
				color: #ffd777;
				text-shadow: 2px 2px 2px #bbb;
			}
		}
		.notification.new{
			.photo{
				i{
					color: #68dff0;
				}
			}
		}
	}
}