#edit-item{
	#edit-item-form{
		.google-map{
			width:700px;
			#googleMap{
				width:100%;
				clear:both;
				padding-bottom:65%;
				border-radius:30px;
				border: 1px solid;
			}
		}
		.section{
			padding-bottom: 10px; 
			> .title{
			    height: 35px;
				padding: 10px;
				font-size: 18px;
				background: #ffd777;
				border-bottom: 2px solid #797979;
				border-top: 2px solid #797979;
				color: white;
				line-height: 13px;
				cursor: pointer;
			}
			> .content{
				margin-top: 40px;
				padding-bottom: 20px;
				display:none;
			}
		}
		.section.open{
			> .content{
				display:block;
			}
		}
		.section.images{
			margin:0px;
			padding:0px;
			border:0px;
			.content{
				margin-top:25px;
				.banner{
					padding-top:15px;
					margin-top:25px;
					.field-name{
						text-align: center;
						font-size: 18px;
						font-weight: bold;
						min-height: 30px;
						width: 20%;
					}
				}
				.banner.first{
					margin-top:0px;
				}
			}
		}
		.section.amenities{
			.row{
				overflow:auto;
				clear:both;
				margin:0px;
				.field{
				    float: left;
					width: 25%;
					clear: none;
					label{
						min-width: 0px;
						width: 200px;
					}
					input{
						width: 18px;
						min-width: 0px;
						height:18px;
					}
				}
			}
		}
		button{
		    margin-top: 30px;
			margin-bottom: 60px;
		}
		button.add{
			width: 90px;
		}
		button.remove-item{
			width: 115px;
		}
	}
}