#login-page{
	#login-form{
		width: 320px;
		height: 125px;
		position: fixed;
		top: 200px;
		right: 0px;
		left: 0px;
		margin: auto;
		.field{
			label{
				width:90px;
			}
		}
		button{
			width:100%;
			border-radius:0px;
			font-size: 16px;
			height: 35px;
			font-weight: bold;
		}
	}
	.alert{
		border-top-left-radius: 0px;
		border-top: 0px;
		border-top-right-radius: 0px;
		margin-top: 10px; 
	}
}