#manage-orders{
	.add-btn{
		width:115px;
	}
}
#edit-order{
	.remove-btn{
	    width: 120px;
	}
	#datepicker-from{
		clear:none;
	}
	#datepicker-till{
		clear:none;
	}
}
#manage-requests{
	.add-btn{
	    width: 130px;
	}
}
#request-page{
	.field{
		label{
			width: 145px;
			font-size: 14px;
		}
		.text{
			background: #dddddd;
			float: left;
			padding-left: 7px;
			padding-right: 7px;
			border-radius: 5px;
		}
	}
	.field.message{
		.message-container{
		    width: 70%;
			margin: auto;
			margin-top: 55px;
		    background: #dddddd;
			border-radius: 4px;
		    clear: both;
			.subject{
			    font-size: 18px;
				font-weight: bold;
				margin-bottom: 15px;
			}
			.content{
			    font-size: 16px;
			}
		}
	}
	.field.status{
		.text{
			background: #444444;
			color: white;
		}
	}
	.field.update-status{
		button{
			margin-left:10px;
		}
	}
	.remove-btn{
		width:140px;
	}
}