#list-settings-container{
	tr{
		td.ui-state-highlight{
			border: 0px !important;
			background: none !important;
			a{
				background: gray !important;
				color: white !important;
				border: 1px solid #cccccc !important;
			}
		}
	}
	.list-settings-form-wrapper{
		.list-settings-page-form{
			#disabled-dates-input{
				display:none;
			}
		}
	}
}
#general-settings{
	.field{
		.image{
		    max-width: 230px;
			float: left;
			position: relative;
			img{
				max-width:60px;
			}
		}
		.image-input{
			padding:0px;
		}
	}
}