#checkout{
	.page-content{
	    overflow: auto;
		.sub-title{
			font-size:23px;
			margin-bottom:25px;
			margin-bottom: 30px;
			padding-bottom: 10px;
			border-bottom: 1px solid;
		}
		.order-summary{
		    width: 40%;
			float: right;
			.sub-title{
				margin-bottom: 35px;
			}
			.content{
				overflow:auto;
				.order-details{
					.name{
						text-decoration: underline;
						font-size: 20px;
						text-align: center;
						margin-bottom: 20px;
						margin-top: 5px;
					}
					.boxes-container{
						.top{
							text-align:center;
							width:80%;
							margin:auto;
						}
						.bottom{
							clear:both;
							width:80%;
							margin:auto;
							.box.guests{
								margin: auto;
								display: block;
							}
						}
					}

					.box{
					    display: inline-block;
						text-align: center;
						.value{
						
						}
						.label{
						
						}
						svg{
							margin-bottom: 5px;
							margin-top: 8px;
							width:60px;
							height:60px;
						}
					}
					.box.arrow{
						svg{
						    margin-top: 30px;
						}
					}
					.box.checkin{
					    float: left;
					}
					.box.checkout{
					    float: right;
					}
				}
				.field{
					clear:both;
					overflow:auto;
					margin-bottom:15px;
					.label{
						float:left;
						margin-right:7px;
					}
					.value{
						float:left;
					}
				}
				.price-details{
					width:80%;
					margin:auto;
					font-size: 19px;
					padding-top: 15px;
					margin-top: 20px;
					border-top: 3px solid;
					margin-bottom:40px;
					.field{
					    margin-bottom: 0px;
						.label{
						    
						}
						.value{
							float:right;
						}
					}
					.field.total{
					    border-top: 1px solid;
						padding-top: 5px;
						margin-top: 17px;
					}
				}
				.image{
					img{
						width:100%;
					}
				}
			}
		}
		.guest-details{
			float:left;
			width: 60%;
			@include borderBox();
			.inner{
				width:500px;
			}
			.error{
				width:100%;
				color: #d52b1e;
				line-height: 15px;
				font-size: 15px;
				margin-bottom:2px;
				.error-dates{
					color:gray;
				}
			}
			.book-btn{
				text-align:center;
				cursor: pointer;
				padding-left: 7px;
				padding-right: 7px;
				margin-bottom: 15px;
				font-size: 16px;
				color: black;
				box-shadow: 2px 2px 0px #bbbbbb;
				border: 1px solid #cccccc;
				font-family: 'Bree Serif';
				width: 100%;
				height: 40px;
				line-height: 40px;
				margin-top: 0px;
				@include borderBox();
			}
			.book-btn:hover{
				box-shadow: 2px 2px 0px gray;
			}
			.field{
				textarea{
					width: 100% !important;
					outline: 0;
					height: 100px;
					padding-left: 7px;
					padding-right: 7px;
					padding-top: 7px;
					margin-bottom: 10px;
					font-size: 15px;
					color: black;
					box-shadow: 2px 2px 0px #bbbbbb;
					border: 1px solid #cccccc;
					font-family: 'Bree Serif'; 
					@include borderBox();
				}
				input{
				    width: 225px;
					outline: 0;
					height: 35px;
					padding-left: 7px;
					padding-right: 7px;
					margin-bottom: 10px;
					font-size: 15px;
					color: black;
					box-shadow: 2px 2px 0px #bbbbbb;
					border: 1px solid #cccccc;
					font-family: 'Bree Serif';
					@include borderBox();
				}
			}
			.field.requests{
				clear:both;
				.label{
				    margin-bottom: 2px;
				}
			}
			.content{
				.left{
				    width: 50%;
					float: left;
				}
				.right{
				    width: 50%;
					float: right;
					.field{
						float:right;
					}
				}
			}
		}
	}
}
#success-page{
	h1.page-title{
		margin-bottom:25px;
	}
	.page-content{
		background: #f6f6f6;
		padding-top:40px;
		.success-message{
			font-size:25px;
			padding-bottom: 8px;
			margin-bottom: 50px;
		}
		.order-details{
			margin-bottom:55px;
			overflow:auto;
			.field{
				overflow:auto;
				clear:both;
				.label{
					float: left;
					min-width: 165px;
				}
				.value{
					float:left;
				}
			}
			.right-section{
				.box{
				    box-shadow: 2px 3px 7px #ccc;
					background-color: white;
					border: 1px solid #dce0e0;
					padding: 35px;
					margin-bottom: 10px;
					/* width: 330px; */
					max-width:320px;
					display:inline-block;
					margin-right: 7px;
					float:right;
					.field{
						margin-bottom:12px;
					}
					.image{
						img{
							width:100%;
						}
					}
					.bottom{
					    text-align: center;
						.name{
						    text-decoration: underline;
							text-transform:capitalize;
							font-size: 20px;
							text-align: center;
							margin-bottom: 20px;
							margin-top: 10px;
						}
						.inner{
						    display: inline-block;
							text-align: left;
							.details{
							
							}
							.price-box{
							    padding-top:15px;
								padding-bottom:11px;
								margin-top: 25px;
								border: 1px solid #dce0e0;
								box-shadow: 0px 0px 1px #ccc;
								
								.field{
									padding-left:15px;
									padding-right:15px;
								}
								.field.total{ 
									margin-bottom:0px;
									border-top: 1px solid #dce0e0;
									padding-top: 10px;
									font-size: 18px;
								}
							}
						}
					}
				}
			}
			.left-section{
				float:left;
				width:60%;
				padding-right: 90px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				.property-details{
					box-shadow: 2px 3px 7px #ccc;
					background-color: white;
					border: 1px solid #dce0e0;
					padding: 25px;
					margin-bottom: 10px;
					padding-bottom: 33px;
					.title{
						font-size: 22px;
						padding-bottom: 7px;
						margin-bottom: 20px;
						text-align: center;
						text-decoration: underline;
					}
					.field{
						margin-bottom:15px;
					}
					.field:last-child{
						margin-bottom:0px;
					}
					.field.address{
						.value{
						    text-transform: capitalize;
						}
					}
				}
				.hosting-dates{
					margin-bottom:40px;
					text-align:center;
					width: 100%;
					box-shadow: 2px 3px 7px #ccc;
					background-color: white;
					border: 1px solid #dce0e0;
					padding: 25px;
					text-align: center;
    				-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
	
					.content{
						display: inline-block;
						text-align:left;
					}
					.checkin{
					}
					.checkout{
					}
				}
				.order-number-box{
				    margin-bottom: 40px;
					font-size: 18px;
					text-align:center;
					display: block;
					box-shadow: 2px 3px 7px #ccc;
					background-color: white;
					border: 1px solid #dce0e0;
					padding: 25px;
					.order-id{
						font-weight:bold;
					}
				}
			}
			.right-section{
				float:left;
				width:40%;
			}
		}
	}
}