#contact-us{
	.page-content{
		margin-bottom:60px;
		.top-section{
			.container{
				.banner{
					a{
						img{
							max-width:100%;
							margin:auto;
							display:block;
						}
					}
				}
			}
		}
		.bottom-section{
		    margin-top: 50px;
			overflow:auto;
			.contact-form-container{
			    width: 60%;
				float: left;
				#contact-form{
					padding-right: 80px;
					.field{
						width:100%;
						.label{
						    margin-bottom: 2px;
						}
						input{
						    width:100%;
							outline: 0;
							height: 35px;
							padding-left: 7px;
							padding-right: 7px;
							margin-bottom: 10px;
							font-size: 15px;
							color: black;
							box-shadow: 2px 2px 0px #bbbbbb;
							border: 1px solid #cccccc;
							font-family: 'Bree Serif';
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
						}
						textarea{
						    width: 100% !important;
							outline: 0;
							height: 100px;
							padding-left: 7px;
							padding-right: 7px;
							padding-top: 7px;
							margin-bottom: 10px;
							font-size: 15px;
							color: black;
							box-shadow: 2px 2px 0px #bbbbbb;
							border: 1px solid #cccccc;
							font-family: 'Bree Serif';
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
						}
					}
					.top-fields{
						.left{
							width: 50%;
							float: left;
						}
						.right{
							width: 50%;
							float: left;
							.field.email{
								float:right;
								width: 225px;
							}
						}
						.field{
							input{
								width: 225px;
							}
						}
					}
					.error{
					    width: 100%;
						color: #d52b1e;
						line-height: 15px;
						font-size: 15px;
						margin-bottom: 2px;
					}
					.send-btn{
						text-align: center;
						cursor: pointer;
						padding-left: 7px;
						padding-right: 7px;
						margin-bottom: 15px;
						font-size: 16px;
						color: black;
						box-shadow: 2px 2px 0px #bbbbbb;
						border: 1px solid #cccccc;
						font-family: 'Bree Serif';
						width: 100%;
						height: 40px;
						line-height: 40px;
						margin-top: 0px;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
					}
					.send-btn:hover{
					    box-shadow: 2px 2px 0px gray;
					}
				}
			}
			.contact-details{
				width: 30%;
				float: right;
			}
		}
	}
}