footer{
	#footer{
		.top{
			height:225px;
			background:black;
			color:white;
			.container{
				padding-top:30px;
				padding-bottom:25px;
				.col{
				    width: 25%;
					float: left;
					.title{
						margin-bottom:8px;
					}
					.social-links{
						margin-top:10px;
						a{
							margin-right:13px;
						}
					}
				}
				.col.contact-us{
					width:35%;
				}
				.col.credit-cards{
					float:right;
				}
			}
		}
		.bottom{
			height:125px;
			background: #f6f6f6;
			.container{
				padding-top:10px;
				padding-bottom:10px;
			}
			.top-row{
				display:none;
			}
			.credits{
				text-align: center;
				font-size: 14px;
				margin-top: 20px;
				color: #999999;
			}
		}
	}
}