// Variables
$main-color: teal;

@font-face {
    font-family: 'Bree Serif';
    src: url('../fonts/Bree_Serif/BreeSerif-Regular.ttf');
}
body{
	margin:0px;
	font-family: 'Bree Serif';
}
.container{
	width:1000px;
	overflow:auto;
	padding-left:15px;
	padding-right:15px;
	margin:auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
h1.page-title{
	margin-bottom: 50px;
	margin-top: 25px;
}
a{
	outline:0;
}
// jQuery datepicker's UI.
.ui-datepicker-header{
	background-color: $main-color;
    background-image: none;
    border: 1px solid $main-color;
	.ui-datepicker-next{
		top:2px !important;
	}
	.ui-datepicker-prev{
		top:2px !important;
	}
	.ui-datepicker-next.ui-state-hover{
		background:#333333 !important;
		background-image:none !important;
		border:1px solid #333333 !important;
		top:2px !important;
		.ui-icon.ui-icon-circle-triangle-e{
			background-image:url("../css/images/ui-icons_ffffff_256x240.png") !important;
		}
	}
	.ui-datepicker-prev.ui-state-hover{
		background:#333333 !important;
		background-image:none !important;
		border:1px solid #333333 !important;
		top:2px !important;
		.ui-icon.ui-icon-circle-triangle-w{
			background-image:url("../css/images/ui-icons_ffffff_256x240.png") !important;
		}
	}
}
td{
	a.ui-state-default.ui-state-hover{
		right:2px !important;
		background: rgba(0,128,128,0.5) !important;
		box-shadow: 1px 1px 2px #333333;
		color: #333333 !important;
		border: 0px !important;
	}
	a.ui-state-default.ui-state-active{
		background: rgba($main-color, 0.5) !important;
		box-shadow: 1px 1px 2px #333333;
		color: #333333 !important;
		border:0px !important;
	}
	
}
td.ui-datepicker-today{
	.ui-state-highlight{
	    border: 1px solid #cccccc;
		background: #f6f6f6 url("../css/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
		font-weight: bold;
		color: #1c94c4;
	}
}

/* Session messages */
.message-container{
	padding:15px;
	ul{
		margin:0px;
		padding:0px;
		li{
			list-style:none;
		}
	}
}
.message-container.success{
	background-color: rgb(147, 216, 147);
}
.message-container.info{
	background-color: #D4D4FF;
}
.message-container.danger{
	background-color: #FB6F6F;
}
.message-container.warning{
	background-color: #FED22F;
}

/* .alert-success{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-danger{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-info{
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
} */
#overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background:black;
	opacity:0.5;
	display:none;
}
