#header{
	.top-row{
	    background: black;
		.container{
			table{
				a{
					text-decoration:none;
					color:black;
				}
			}
		}
	}
}
.nav-row{
	height: auto;
	background:#f6f6f6;
	text-align:center;
	.categories{
		margin: auto;
		/* width: 660px; */
		display: inline-block;
		text-align: center;
		/* height: 36px; */
		line-height: 36px;
		padding-top: 15px;
		padding-bottom:10px;
		.ctg-name{
			border-left: 1px solid rgba(228, 228, 228, 1);
			height:100%;
			display:block;
			float:left;
			text-decoration:none;
			color:black;
			padding: 0 22px;
			transition: color 0.4s ease 0s;
		}
		.ctg-name:first-child{
			border-left:0px;
		}
		.ctg-name.current{ 
			color: #AAA8A8;
		}
		.ctg-name:hover{ 
			color: #AAA8A8;
		}
	}
}