#homepage{
	.carousel{
		position:relative;
		
		> .carousel-inner.slick-initialized.slick-slider{
			margin-bottom:0px;
		}
		.container.search-bar{
		    position: relative;
			z-index: 1;
			height: 0px;
			overflow: visible;
			#search-bar{
			    height: 75px;
				background-color: black;
				position: absolute;
				width: 100%;
				padding-top: 3px;
				#search-panel-form{
				    padding: 10px;
					padding-left: 13px;
					padding-right: 13px;
					padding-top: 12px;
					.field{
					    color: white;
						float: left;
						margin-right: 15px;
						.label{
							font-size: 14px;
							line-height: 17px;
							margin-bottom: 2px;
						}
						input{
						    font-family: 'Bree Serif';
							outline:0 !important;
							padding: 8px;
							box-sizing: border-box;
							height: 33px;
							border: 1px solid black;
							box-shadow: 0px 0px 1px black inset;
						}
					}
					.field.guests-field{
						position:relative;
						input{
							width:85px;
						}
						.selectors{
							position: absolute;
							top: 18px;
							right: 16px;
							color: black;
							.arrow{
								height: 17px;
								font-size: 15px;
								cursor: pointer;
							}
							.arrow.bottom{
								margin-top:12px;
							}
						}
					}
					.field.location{
						position:relative;
						width: 285px;
						select.location{
							cursor:pointer;
						    padding: 0px;
							padding-left: 3px;
							font-family: 'Bree Serif';
							outline: 0 !important;
							box-sizing: border-box;
							height: 33px;
							border: 1px solid black;
							box-shadow: 0px 0px 1px black inset;
							background-color: white;
							border-radius: 0px;
							text-transform: capitalize;
							color: black;
							font-weight: normal;
							width: 285px;
							-webkit-appearance: none;
							-moz-appearance: none;
							text-indent: 1px;
							text-overflow: '';
						}
						select.location::-ms-expand {
							display: none;
						}
						select.location:after{ 
						    content: "";
							display: block;
							position: absolute;
							width: 0;
							height: 0;
							border: 5px solid transparent;
							border-top-color: black;
							right: 9px;
							top:15px;
						}
						.fancy-select{
							.trigger{
								font-family: 'Bree Serif';
								outline: 0 !important;
								padding: 8px;
								box-sizing: border-box;
								height: 33px;
								border: 1px solid black;
								box-shadow: 0px 0px 1px black inset;
								background-color: white;
								border-radius: 0px;
								text-transform: capitalize;
								color: black;
								font-weight: normal;
								width: 285px;
								line-height: 135%;
							}
							.trigger:after{
								top:15px;
							}
							.options{
							    border-top: 0px;
								box-shadow: 2px 2px 4px #333333;
							    width: 285px;
								padding-left: 0px;
								li{
								    text-transform: capitalize;
									font-weight: normal;
									background: rgba($main-color, 0.5);
									color:#274242;
								}
								li.selected{
								    color: black;
									background: $main-color;
									border-top: rgba($main-color, 0.5);
								}
								li.hover{
									color:white;
								}
							}
						}
					}
					.field.location:after{
						content: "";
						display: block;
						position: absolute;
						width: 0;
						height: 0;
						border: 5px solid transparent;
						border-top-color: black;
						top: 34px;
						right: 9px;
					}
					.field.checkin{
						input{
							width:183px;
						}
					}
					.field.checkout{
						input{
							width:183px;
						}
					}
					.search-btn{
						cursor:pointer;
					    height: 31px;
						line-height: 30px;
						float: left;
						background-color: white;
						margin-top: 19px;
						width: 176px;
						text-align: center;
						border: 1px solid black;
						box-shadow: 0px 0px 1px black inset;
					}
					#datepicker-from, #datepicker-till{
					    background-image: url("../img/icons/calendar-icon.png");
						background-position: top 2px right 5px;
						background-repeat: no-repeat;
						background-size: 25px;
						cursor:pointer;
					}
				}
			}
		}
		.arrow{
			position:absolute;
			padding-top:16%;
			z-index:1;
			cursor:pointer;
		}
		.arrow-left{
			left: 70px;
		}
		.arrow-right{
			right: 70px;
		}
		.arrow-carousel{
			padding:0px;
			z-index:2;
			top:50%;
			margin-top: -26px !important;
			left:80px;
			color: white;
			display: inline-block;
			margin: 0px;
			border-left: 10px solid;
			border-top: 10px solid;
			width: 27px;
			height: 27px;
			transform: rotate(-45deg);
			background-position: none;
			background:none;
			border-radius:0px;
			opacity:0.9;
		}
		.arrow-carousel:hover{
			opacity:1;
		}
		.arrow-carousel.arrow-right{
			right:80px;
			left:auto;
			border-right: 10px solid;
			border-bottom: 10px solid;
			border-left: 0px;
			border-top: 0px;
		}
		.carousel-inner{
			button.slick-arrow{
				display:none !important;
			}
			.img-wrapper{
				img{
					width:100%;
				}
			}
		}
	}
	.homepage-specs{
		height:155px;
		position:relative;
		img{
			display:block;
			width:100%;
			position: absolute;
			top: 5px;
			bottom: 0px;
			margin: auto;
		}
	}
	.main-content{
		background: #f6f6f6;
		.container{
		    padding-top: 30px;
			padding-bottom:30px;
			color: rgba(0,0,0,1);
			.title{
			    font-size:50px;
			}
			.content{
			    font-size:31px;
			}
		}
	}
}