.item-page{
	textarea.hidden{
		display:none;
	}
	#booking-request-popup{
		display:none;
	    z-index: 1;
		width: 320px;
		height:315px;
		position:fixed;
		top:0px;
		bottom:0px;
		right:0px;
		left:0px;
		margin:auto;
		box-shadow: 0px 0px 40px black;
		background-color: white;
		border: 1px solid #dce0e0;
		padding: 28px;
		padding-bottom: 25px;
		
		.close-btn-wrapper{
			height:0px;
		}
		.close-btn{
			position:absolute;
			right: 8px;
			top: 12px;
			cursor:pointer;
			fill: white;
			stroke: black;
			padding: 3px;
			width: 17px;
			height: 17px;
			stroke-width: 1;
		}
		.close-btn:hover{
			fill: black;
		}
		#booking-request-form{
			width: 100%;
			.error{
				width:100%;
				color: #d52b1e;
				line-height: 15px;
				font-size: 15px;
				margin-bottom:2px;
				min-height: 5px;
				.error-dates{
					color:gray;
				}
			}
			.request-booking-btn{
				text-align:center;
				cursor: pointer;
				padding-left: 7px;
				padding-right: 7px;
				margin-bottom: 15px;
				font-size: 16px;
				color: black;
				box-shadow: 2px 2px 0px #bbbbbb;
				border: 1px solid #cccccc;
				font-family: 'Bree Serif';
				width: 100%;
				height: 40px;
				line-height: 40px;
				margin-top: 0px;
				@include borderBox();
			}
			.request-booking-btn:hover{
				box-shadow: 2px 2px 0px gray;
			}
			.field{
				textarea{
					width: 100% !important;
					outline: 0;
					height: 100px !important;
					padding-left: 7px;
					padding-right: 7px;
					padding-top:5px;
					margin-bottom: 5px !important;
					font-size: 15px;
					color: black;
					box-shadow: 2px 2px 0px #bbbbbb;
					border: 1px solid #cccccc;
					font-family: 'Bree Serif';
					@include borderBox();
				}
				input{
				    width: 150px;
					outline: 0;
					height: 35px;
					padding-left: 7px;
					padding-right: 7px;
					margin-bottom: 10px;
					font-size: 15px;
					color: black;
					box-shadow: 2px 2px 0px #bbbbbb;
					border: 1px solid #cccccc;
					font-family: 'Bree Serif';
					@include borderBox();
				}
			}
			.field.email{
				input{
					width:100%;
				}
			}
			.field.requests{
				clear:both;
				.label{
				    margin-bottom: 2px;
				}
			}
			.left{
				width: 50%;
				float: left;
			}
			.right{
				width: 50%;
				float: right;
				.field{
					float:right;
				}
			}
		}
	}
	#flipbook{
		width:100%;
		padding: 0px;
		margin: 0px;
		position:relative;
		#pagination{
			display:none;
		}
		.next, .prev{
			display:none;
		}
		.arrow{
			padding:0px;
			z-index:2;
			top:50%;
			margin-top: -26px !important;
			left:80px;
			color: white;
			display: inline-block;
			margin: 0px;
			border-left: 10px solid;
			border-top: 10px solid;
			width: 27px;
			height: 27px;
			transform: rotate(-45deg);
			background-position: none;
			background:none;
			border-radius:0px;
			opacity:0.9;
			z-index: 10000000;
			position: absolute;
			cursor:pointer;
		}
		.arrow:hover{
			opacity:1;
		}
		.arrow.arrow-right{ 
			right:80px;
			left:auto;
			border-right: 10px solid;
			border-bottom: 10px solid;
			border-left: 0px;
			border-top: 0px;
		}
		.slide{
			padding:0px;
			margin:0px;
			height:auto;
			img{
				width:100%;
			}
			.img.first{
				/* top: -1px; */
			}
		}
	}
	.wrapper{
		.placeholder{
			position: absolute;
			img{
				width:100%;
			}
			.shadow{
				display:block;
			}
		}
		#sb-slider{
			position:relative;
			#nav-arrows{
				a{
					z-index:2;
					top:50%;
					margin-top: -26px !important;
					left:80px;
					color: white;
					display: inline-block;
					margin: 0px;
					border-left: 10px solid;
					border-top: 10px solid;
					width: 27px;
					height: 27px;
					transform: rotate(-45deg);
					background-position: none;
					background:none;
					border-radius:0px;
				}
				a:first-child{
					right:80px;
					left:auto;
					border-right: 10px solid;
					border-bottom: 10px solid;
					border-left: 0px;
					border-top: 0px;
				}
			}
		}
	}
	.top-stripe{
		.main-title{
			border: 1px solid #dce0e0;
			background: #f6f6f6;
			padding-bottom: 25px;
			margin-bottom: 30px;
			.left-section{
				float:left;
				.location{
					text-transform:capitalize;
				}
			}
			.right-section{
					float: right;
					width: 95px;
					margin-top: 16px;
				img{
					width:100%;
					cursor:pointer;
				}
			}
		}
		.amenities{
			color:#46585e;
			.amenity{
				width:20%;
				float:left;
				text-align:center;
				.icon{
					background: transparent url("../img/icons/item-sprite.png") no-repeat; 
					margin: auto;
				}
			}
			.room-type{
				.icon{
					height: 52px;
					width: 50px;
					/* background-position: -180px -49px; */
					background-image:none;
					margin: 6px auto 7px auto;
					svg{
						width: 50px;
						height: 50px;
						fill: #bcc9cd;
					}
				}
			}
			.size{
				.icon{
					background-position: -72px -101px;
					width: 126px;
					height: 65px;
					line-height: 140%;
					font-size: 32px;
					text-indent: -7px;
					font-weight: bold;
				}
			}
			.guests-number{
				.icon{
					background-position: -192px -101px;
					width: 78px;
					height: 65px;
					font-weight: bolder;
					margin: auto;
					padding-right: 3px;
					font-size: 32px;
					line-height: 195%;
				}
			}
			.bedrooms-number{
				.icon{
					background-position: 30px -165px;
					width: 82px;
					height: 65px;
					font-weight: bolder;
					text-align: right;
					margin-left: 48px;
					.icon-text{
						margin-right: 46px;
						font-size: 44px;
						line-height: 137%;
						font-weight: normal;
					}
				}
			}
			.beds-number{
				.icon{
					position:relative;
					text-align: center;
					margin: auto;
					/* background-position: 30px -221px; */
					background:none;
					width: 82px;
					height: 65px;
					font-weight: bolder;
					font-size: 40px;
					.icon-text{
						font-size:20px;
						line-height:20px;
						position:absolute;
						left: 0px;
						right: 0px;
						top: 7px;
						font-size: 28px;
					}
					svg{
						width:50px;
						height:46px;
						padding-right: 2px;
						padding-top: 22px;
						margin:auto;
						fill: #bcc9cd;
					}
				}
			}
			
		}
	}
	#details{
		border: 1px solid #dce0e0;
		background: #f6f6f6;
		margin-top: 35px;
		padding-top: 45px;
		#map{
			width:100%;
			#googleMap{
				border:1px solid;
				width:100%;
				padding-bottom:65%;
				margin-top:40px;
			}
		}
		.container.details{
			.left{
				float:left;
			    width: 650px;
				padding-right: 55px;
				@include borderBox();
				> .row:last-child{
					margin-bottom:0px;
					border-bottom:0px;
				}
			}
			> .left{
				margin-bottom: 30px;
			}
			.right{
				width:320px;
				float:left;
				@include borderBox();
				position:relative;
				.booking-form{
				    box-shadow: 2px 3px 7px #ccc;
				    background-color: white;
					border: 1px solid #dce0e0;
					padding: 25px;
					padding-bottom:22px;
					width:268px;
					input{
						height: 35px;
						@include borderBox();
						outline:0;
						padding: 7px;
						
						padding-left: 7px;
						padding-right: 7px;
						margin-bottom: 10px;
						width: 145px;
						font-size: 15px;
						color: black;
						box-shadow: 2px 2px 0px #bbbbbb;
						border: 1px solid #cccccc;
						font-family: 'Bree Serif';
						background-image: url("../img/icons/calendar-icon.png");
						background-position: top 2px right 5px;
						background-repeat: no-repeat;
						background-size: 28px;
					}
					.label{
						color: #565a5c;
					}
					.date-inputs{
						padding-right:2px;
						overflow:auto;
						.checkin-field{
							@include borderBox();
							padding-right: 10px;
							float:left;
							width:50%;
							.label{
							
							}
							input{
								width:100%;
							}
						}
						.checkout-field{	
							@include borderBox();
							padding-left: 8px;							
							float:left;
							width:50%;
							.label{
							
							}
							input{
								width:100%;
							}
						}
					}
					.guests-field{
						margin-top:5px;
						padding-right:2px;
						position:relative;
						.label{
						
						}
						.selection.guests{
							width:100%;
							background-image:none;
						}
						.selectors{
							position:absolute;
							top: 18px;
							right: 5px;
							.arrow{
								cursor:pointer;
							}
							.arrow.bottom{
								margin-top: -11px;
							}
						}
					}
					.book-btn-wrapper{
						padding-right:2px;
						@include borderBox();
					}
					.book-btn{
						background-color: white;
						text-align: center;
						cursor:pointer;
						line-height:32px;
						@include borderBox();	
						/* color: #565a5c; */
						color:black;
						
						outline: 0;
						height: 35px;
						padding-left: 7px;
						padding-right: 7px;
						margin-bottom: 10px;
						width: 100%;
						font-size: 15px;
						box-shadow: 2px 2px 0px #bbbbbb;
						border: 1px solid #cccccc;
						font-family: 'Bree Serif';
					}
					.book-btn:hover{
						box-shadow: 2px 2px 0px gray;
					}
					.error{
						min-height:15px;
						width:100%;
						color: #d52b1e;
						line-height: 15px;
						font-size: 15px;
						.error-dates{
							color:gray;
						}
					}
				}
				.booking-form.fixed{
					position:fixed;
					top:40px;
				}
			}
			.row{
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid #dce0e0;
				clear:both;
				overflow:auto;
				.label{
				    width: 30%;
					float: left;
				}
				.content{
					width:70%;
					float:left;
					color: #565a5c;
					font-size:14px;
					.bold{
						color:black;
						padding-left:2px;
					}
				}
			}
			.row.amenities{
				.content{
					.row{
						overflow:auto;
						clear:both;
						border:0px;
						padding:0px;
						margin:0px;
						.left{
							float:left;
							width:50%;
							overflow:auto;
							padding-right:0px; 
						}
						.right{
							float:left;
							width:50%;	
							overflow:auto;
						}
						.icon{
							width:25px;
							height:25px;
							float:left;
							margin-right:15px;
							background: transparent url("../img/icons/tv.png") no-repeat; 
						}
						.name{
							float:left;
							line-height: 32px;
						}
						.exist{
						
						}
						.line-through{
							.icon{
								opacity: 0.3;
							}
							.name{
								text-decoration:line-through;
								color:#cccccc;
							}
						}
					}
				}
			}
			.about{
				position:relative;
				.label{
					font-size: 20px;
					margin-bottom: 20px;
					width:100%;
					float:none;
				}
				.content{
					width:80%;
					float:none;
					font-size:16px;
				}
				.price-box{
				    text-align: center;
					position: absolute;
					right: 0px;
					font-size: 23px;
					box-shadow: 2px 3px 7px #ccc;
					background-color: white;
					border: 1px solid #dce0e0;
					padding: 8px;
					padding-left: 12px;
					padding-right: 12px;
					margin-right: 6px;
					.text{
						font-size:12px;
					}
				}
			}
			.row.availability{
				.content{
					.bold{
						padding-left:0px;
					}
				}
			}
		}
	}
}