.container.list-page{ 
	.page-content{
		overflow:auto;
		.left-col{
		    float: left;
			width: 220px;
			min-height: 400px;
			margin-bottom:25px;
			.top-line{
			    font-size: 23px;
				margin-bottom: 14px;
				.inner{
					width:165px;
					border-bottom: 1px solid #888888;
					padding-bottom:7px;
				}
			}
			.search-panel{
				#datepicker-from, #datepicker-till{
					cursor:pointer;
				}
				input{
				    outline: 0;
					height: 35px;
					padding-left: 7px;
					padding-right: 7px;
					margin-bottom: 10px;
					width: 145px;
					font-size: 15px;
					color: black;
					box-shadow: 2px 2px 0px #bbbbbb;
					border: 1px solid #cccccc;
					font-family: 'Bree Serif';
					background-image:url("../img/icons/calendar-icon.png");
					background-position: top 5px right 5px;
					background-repeat: no-repeat;
					background-size: 28px;
				}
				.location-field{
					position:relative;
				}
				.location-field:after{
				    content: "";
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border: 5px solid transparent;
					border-top-color: black;
					top: 39px;
					right: 69px;
				}
				.guest-fields{
					width: 165px;
					overflow:auto;
					.selection{
					    width: 100%;
						background: none;
						margin-bottom:3px;
						@include borderBox(); 
					}
					.selectors{
						position: absolute;
						top: 21px;
						right: 5px;
						.top{
						    height: 17px;
							font-size: 15px;
							cursor:pointer;
						}
						.bottom{
						    height: 17px;
							font-size: 15px;
							margin-top: -4px;
							cursor:pointer;
						}
					}
					.guests-field{
						position:relative;
						width: 161px;
						float: left;
						margin-right: 21px;
					}
					.kids-field{
						position:relative;
					    width: 70px;
						float: left;
						.label{
						
						}
					}
				}
				.error{
					width:161px;
					color: #d52b1e;
					line-height: 15px;
					font-size: 15px;
					.error-dates{
						color:gray;
					}
				}
				.search-btn{
					text-align: center;
					line-height: 35px;
					cursor: pointer;
					padding-left: 7px;
					padding-right: 7px;
					margin-bottom: 15px;
					margin-top: 15px;
					width: 145px;
					font-size: 16px;
					color: black;
					box-shadow: 2px 2px 0px #bbbbbb;
					border: 1px solid #cccccc;
					font-family: 'Bree Serif';
					height: 35px; 
				}
				.search-btn:hover{
					box-shadow: 2px 2px 0px gray;
				}
				select.location{
					cursor:pointer;
					font-weight: normal;
					outline: 0;
					border-radius: 0px;
					height: 39px;
					padding: 1px;
					padding-left: 3px;
					padding-right: 3px;
					margin-bottom: 10px;
					width: 161px;
					font-size: 15px;
					color: black;
					box-shadow: 2px 2px 0px #bbbbbb;
					border: 1px solid #cccccc;
					font-family: 'Bree Serif';
					background-position: top 5px right 5px;
					background-repeat: no-repeat;
					background-size: 28px;
					background-color: white;
					text-transform: capitalize;
					line-height: 35px;
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 1px;
					text-overflow: '';
				}
				select.location::-ms-expand {
					display: none;
				}

				.fancy-select{
					.trigger{
					    font-weight: normal;
						outline: 0;
						border-radius: 0px;
						height: 35px;
						padding: 1px;
						padding-left: 7px;
						padding-right: 7px;
						margin-bottom: 10px;
						width: 145px;
						font-size: 15px;
						color: black;
						box-shadow: 2px 2px 0px #bbbbbb;
						border: 1px solid #cccccc;
						font-family: 'Bree Serif';
						background-position: top 5px right 5px;
						background-repeat: no-repeat;
						background-size: 28px;
						background-color: white;
						text-transform: capitalize;
						line-height: 35px;
					}
					.trigger:after{ 
						top:17px;
					}
				}
			}
		}
		.right-col{
			float: left;
			width: 750px;
			.top-line{
			    padding-left: 30px;
				padding-bottom: 7px;
				margin-bottom: 0px;
				border-bottom: 1px solid #888888;
				font-size: 23px;
				.results-for{
					margin-right: 7px;
				}
				.search-result-text{
					color: #777777;
				}
				.clear-btn{
					float:right;
					a{
						color: black;
					}
				}
			}
			.items-container{
				.no-results-text{
				    padding-left: 30px;
					margin-top: 51px;
					font-size: 18px;
					text-decoration: underline;
				}
				.item{
				    padding: 30px;
					padding-bottom: 31px;
					padding-top:35px;
					padding-right: 0px;
					overflow: auto;
					border-top: 1px solid #888888;
					.image-container{
					    float: left;
						width: 35%;
						img.item-image{
							max-width:100%;
						}
					}
					.right-col{
						float:left;
						width:65%;
						padding-left: 15px;
						@include borderBox();
						.details{
							overflow: auto;
							float: left;
							width: 65%;
							padding-right: 40px;
							@include borderBox();
							.name{
								font-size: 20px;
								color: #616161;
								a{
									text-decoration: none;
									color: #616161;	
								}
							}
							.short-description{
								font-size: 14px;
								min-height: 38px;
								margin-top: 8px;
								margin-bottom: 0px;
							}
							ul.specs{
								font-size: 13px;
								padding-left: 0px;
								margin-top:0px;
								list-style: none;
								color:$main-color;

								li{
								    padding-left: 8px; 
									text-indent: -.7em;
								}
								li:before {
									content: "• ";
									color: $main-color; 
									font-size: 26px;
									vertical-align: text-bottom;
									line-height: 80%;
								}
							}
							.amenities{
								overflow: auto;
								float: left;
								border-top: 1px solid;
								padding-top: 7px;
								min-width:185px;
								.amenity{
									width: 25px;
									height: 27px;
									float: left;
									margin-right: 15px;
									background-image: url('../img/icons/amenities-sprite.png');
								}
								.amenity:last-child{
									margin-right:0px;
								}
							}
						}
						.price-box{
						    float: left;
							width: 35%;
							padding-right: 30px;
							text-align: center;
							@include borderBox();
							.price{
							    font-size: 37px;
								color: black;
								margin-top: 35px;
							}
							a{
								text-decoration:none;
								.order-btn{
									@include addEasing(0.3s);
									background-color: $main-color;
									color: white;
									width: 140px;
									height: 35px;
									line-height: 35px;
									font-size: 15px;
									text-transform: uppercase;
									margin-top: 41px;
									cursor:pointer;
								}
								.order-btn:hover{
									background-color:black; 
								}
							}
						}
					}
				}
				.item:first-child{
					border-top:0px;
				}
				.item:last-child{
					border-bottom: 1px solid #888888;
				}
			}
		}
	}
	.pagination{
		margin-top:30px;
		text-align: center;
		clear:both;
		.cubes{
			overflow: auto;
			margin-bottom: 20px;
			padding-bottom: 5px;
			display: inline-block;
			padding-right: 5px;
			padding-left: 5px;
			.page-number{
				color: black;
				box-shadow: 2px 2px 0px #bbbbbb;
				border: 1px solid #bbbbbb;
				display: block;
				float: left;
				width: 30px;
				height: 30px;
				text-decoration: none;
				margin-right: 10px;
				text-align: center;
				line-height: 185%;
			}
			.page-number.current{
				background:#333333;
				color:white;
			}
			.page-number:hover{
				box-shadow: 2px 2px 0px gray;
			}
			.page-number:last-child{
				margin-right:0px;
			}
		}
	}
}