@mixin borderBox() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 

@mixin addEasing($s) {
	-webkit-transition: all $s linear;
	-moz-transition: all $s linear;
	-o-transition: all $s linear;
	transition: all $s linear;
}