/*
Error: Invalid CSS after "			width: 750px;": expected "}", was ""
        on line 183 of /lamp/local/resources/assets/sass/modules/list.scss

178: 				}
179: 			}
180: 		}
181: 		.right-col{
182: 			float: left;
183: 			width: 750px;

Backtrace:
/lamp/local/resources/assets/sass/modules/list.scss:183
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:1164:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:1098:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:1093:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:640:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:709:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:658:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:650:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:639:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:709:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:658:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:647:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:639:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:633:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:657:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:647:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/engine.rb:403:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/engine.rb:278:in `render'
/var/lib/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/var/lib/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/var/lib/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/var/lib/gems/1.9.1/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:328:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:252:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.4.18/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.18/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/var/lib/gems/1.9.1/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"			width: 750px;\": expected \"}\", was \"\"\A         on line 183 of /lamp/local/resources/assets/sass/modules/list.scss\A \A 178: 				}\A 179: 			}\A 180: 		}\A 181: 		.right-col{\A 182: 			float: left;\A 183: 			width: 750px;"; }
