#flipbook {
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	margin: 20px auto;
	width: 600px;
	height: 330px;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#flipbook .slide {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	left: 0;
}

#flipbook .slide .img {
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
	height: 310px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-size: 200% !important;
	background-repeat: no-repeat !important;
	-webkit-transition-property: -webkit-transform, box-shadow;
	-webkit-transition-timing-function: linear, linear;
	transition-property: transform, box-shadow;
	transition-timing-function: linear, linear;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#flipbook {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#flipbook .prev, #flipbook .next {
	z-index: 999999999;
	position: absolute;
	background: black;
	padding: 20px;
	color: #fff;
	top: 30%;
	width: 64px;
	height: 64px;
	box-sizing: border-box;
	font-size: 2em;
	cursor: pointer;
	background: #154a67;
	-moz-box-sizing: border-box;
	font-family: 'SSStandard', sans-serif;
}

#flipbook .next {
	right: -64px;
	box-shadow: inset 50px 0 30px -30px rgba(0,0,0,0.3);
}

#flipbook .prev {
	left: -64px;
	box-shadow: inset -50px 0 30px -30px rgba(0,0,0,0.3);
}

#flipbook .prev:hover, #flipbook .next:hover {
	background: #1f6387;
}

#flipbook .prev:active {
	box-shadow: inset -50px 0 30px -30px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,0.3);
}

#flipbook .next:active {
	box-shadow: inset 50px 0 30px -30px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,0.3);
}

#flipbook .current {
	z-index: 99999;
}

#flipbook .slide .content {
	position: absolute;
	bottom: -75%;
	z-index: 99999999;
	background: rgba(0,0,0,0.3);
	width: 100%;
	left: 0;
	padding: 20px;
	font-size: 2.2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#flipbook .slide .content a {
	color: #fff;
}

#flipbook .slide .slideup {
	bottom: 0;
	z-index: 99999999;
}

#flipbook #pagination {
	position: absolute;
	bottom: 13px;
	right: 12px;
}

#flipbook #pagination div {
	background: black;
	width: 16px;
	height: 16px;
	border-radius: 100px;
	float: left;
	cursor: pointer;
	margin: 0 5px 0 0;
}

#flipbook #pagination .cur {
	background: #42cae8;
	box-shadow: inset 0 3px 7px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1000px) {
	#flipbook {
		width: 100%;
		height: 200px;
		margin: 0;
	}	
	#flipbook .next, #flipbook .prev {
		right: 0;
		top: 0;
		width: 44px;
		height: 44px;
		padding: 10px;
	}
	
	#flipbook .prev {
		left: 0;
		right: auto;
	}
}

/* ------- IGNORE */

/* #header {
	width: 100%;
	margin: 0px auto;
}

#header #center {
	text-align: center;
}

#header h1 span {
	color: #000;
	display: block;
	font-size: 50px;
}

#header p {
	font-family: 'Georgia', serif;
}
#header h1 {
	color: #892dbf;
	font: bold 40px 'Bree Serif', serif;
} */

#travel {
	padding: 10px;
	background: rgba(0,0,0,0.6);
	border-bottom: 2px solid rgba(0,0,0,0.2);
	font-variant: normal;
	text-decoration: none;
}

#travel a {
	font-family: 'Georgia', serif;
	text-decoration: none;
	border-bottom: 1px solid #f9f9f9;
	color: #f9f9f9;
	font-size: 1.6em;
}

