#inquiry-page .field label{width:125px;font-size:14px}#inquiry-page .field .text{background:#dddddd;float:left;padding-left:7px;padding-right:7px;border-radius:5px}#inquiry-page .field.message .message-container{width:70%;margin:auto;margin-top:55px;background:#dddddd;border-radius:4px;clear:both}#inquiry-page .field.message .message-container .subject{font-size:18px;font-weight:bold;margin-bottom:15px}#inquiry-page .field.message .message-container .content{font-size:16px}#inquiry-page .remove-btn{width:130px}
