#list-settings-container tr td.ui-state-highlight{border:0px !important;background:none !important}#list-settings-container tr td.ui-state-highlight a{background:gray !important;color:white !important;border:1px solid #cccccc !important}#list-settings-container .list-settings-form-wrapper .list-settings-page-form #disabled-dates-input{display:none}#general-settings .field .image{max-width:230px;float:left;position:relative}#general-settings .field .image img{max-width:60px}#general-settings .field .image-input{padding:0px}
